
.container{
    margin: 0;
    padding: 0;
    max-width: 2000px;
    width: 100%;
}
body{
    background: rgba(22, 58, 36, 1);

}
nav{
    display: flex;
    justify-content: space-between;
    
}
.nav_items{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.item{
    color: white;
}
.nav_button{
    width: 142px;
    height: 52px;
    border-radius: 160px;
    background: rgba(25, 140, 54, 1);
    margin-top: -20px;
    h3{
        margin-left: 25px;
        margin-top: 15px;
    }
    color: white;
}
.txt-big{
    color: white;
    font-size: 65px;
    margin-top: 150px;
    margin-left: 100px;
}
.txt-small{
    color: white;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 100px;
}
.header{
    display: flex;
    img{
        position: absolute;
        left: 1000px;
    }
}
.cards{
background: rgba(255, 255, 255, 1);
position: relative;

top: 50px;

}
.card1{
    display: flex;
    margin-left: 100px;
    img{
        margin-top: 100px;
        margin-left: 300px;

    }
    div{
        margin-top: 200px;
        margin-left: 200px;
    }
}
.txt-card-qiz-big{
    font-size: 48px;
    
}
.txt-card-qiz-small{
    font-size: 27px;
    position: relative;
    top: -50px;
    
}
.card2{
    display: flex;
    margin-left: 300px;
    img{
        margin-top: 100px;
        margin-left: 200px;
    }
    div{
        margin-top: 200px;
        margin-left: 200px;
    }
}
.txt-card-bola-big{
    font-size: 48px;
    margin-left: -100px;
}
.txt-card-bola-small{
    font-size: 27px;
    position: relative;
    top: -50px;
    margin-left: -100px;
    
}
.text_foot{
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
}
.partnes{
    display: flex;
    gap: 70px;
    margin-top: 50px;
    margin-left: 500px;
}